/* When assigning a element an id and styling off of the id givien to the element . The id will override whatever other styling you give that element like a class and if it is trying to do the same thing . A id will always prevail and set it to what that id is trying to style  */

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
  .blue-text {
    color: blue;
  }
  #orange-text{
    color: orange;
  }
</style>
<h1 id="orange-text" class="pink-text blue-text">Hello World!</h1>
